/bin/

*.o

/lib/glfw/src/*.a
/lib/glfw/src/cmake_install.cmake
/lib/glfw/src/Makefile
/lib/glfw/src/*.o
/lib/glfw/CMakeCache.txt
/lib/glfw/CMakeFiles/
/lib/glfw/Makefile

/lib/cglm/*.a
/lib/cglm/CMakeCache.txt
/lib/cglm/CMakeFiles/
/lib/cglm/Makefile

/lib/glad/src/*.o

/lib/noise/libnoise.a
/lib/noise/*.o
/lib/noise/Makefile

CMakeCache.txt
CMakeFiles/
Makefile.in
cmake_install.cmake